In [4]:
import os
import pandas as pd
import gff3

In [51]:
subti_file = '/Users/andreas/Bacillus/Bioinformatics/Scripts_RNAseq/subtiwiki.gene.export.2024-05-25.tsv'
subti = pd.read_csv(subti_file, sep = '\t', header = 0)

genbank_file = '/Users/andreas/Bacillus/Bioinformatics/RNAseq_jag_khpa_kre/X204SC22071444-Z01-F001/Analysis/Annotation_files/B_subtilis_GenBank_w_name_and_locus.gff3'
genbank = pd.read_csv(genbank_file, sep = '\t', header = 0)
genbank = genbank.drop_duplicates(['locusTag'], keep = 'last')

gene_cat_file = '/Users/andreas/Bacillus/Bioinformatics/RNAseq_jag_khpa_kre/X204SC22071444-Z01-F001/Analysis/Gene_categories/GeneID_Category_All.csv'
gene_categories = pd.read_csv(gene_cat_file, sep = ',', header = 0)

all_loci = list(set(subti['locus'].tolist() + genbank['locusTag'].tolist()))

subti_names = []
subti_alias = []
genbank_names = []
categories = []
for locus in all_loci:
    try:
        subti_names.append(subti['title'][subti['locus'] == locus].iloc[0])
    except:
        subti_names.append('na')
    try:
        subti_alias.append(subti['synonyms'][subti['locus'] == locus].iloc[0])
    except:
        subti_alias.append('na')
    try:
        genbank_names.append(genbank['name'][genbank['locusTag'] == locus].iloc[0])
    except:
        genbank_names.append('na')
    if len(gene_categories['Category'][gene_categories['GeneID'] == locus].tolist()) != 0:
        categories.append(', '.join(gene_categories['Category'][gene_categories['GeneID'] == locus].tolist()))
    else:
        categories.append('na')


conversion_df = pd.DataFrame()
conversion_df['locus'] = all_loci
conversion_df['Subti_name'] = subti_names
conversion_df['Subti_alias'] = subti_alias
conversion_df['GenBank_name'] = genbank_names
conversion_df['Gene_categories'] = categories

# Replace all NaN values with the string 'na'
conversion_df.fillna('na', inplace=True)

output_folder = '/Users/andreas/Bacillus/Bioinformatics/RNAseq_jag_khpa_kre/X204SC22071444-Z01-F001/Analysis/Gene_categories'
conversion_df.to_csv(os.path.join(output_folder, 'Subti_Genbank_GO_conversion_table.txt'), sep = '\t', header = True, index = False)

In [52]:
conversion_df[conversion_df['locus'] == 'BSU_34399']

          locus Subti_name Subti_alias    GenBank_name Gene_categories
5588  BSU_34399  BSU_34399          na  YP_009514003.1              na